<script src="js/bootstrap.min.js"></script>
<div class="welcome">
<h1>Welcome to Crowdfunder!</h1>
</div>

<div class="flexslider">
  <ul class="slides">
    <li>
      <img src="<%= Image.first.image %>" />
    </li>
    <li>
      <img src="<%= Image.last.image %>" />
    </li>
  </ul>
</div>

<script src="http://thestartuplegitimizer.com/js/legitimizeme.min.js?pubs=ma-tc-tn-bf-te"></script>