<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A pledge has been received for: $<%= @pledge.amount %></h1>
      
    <p>May money continue to rain down upon you!</p>
  </body>
</html>