<a href="/my/projects/new" class="btn btn-large btn-primary">Launch New Project</a>
</br></br></br>

  <% @projects.each do |project| %> 
  <div class="project">
    <ul> <%= project.title %> </ul>
  </div>
  <% end %> 